<li>
  <% if current_user?(track.user) %>
    <span class="track"><%= link_to(track.tag, tweets_track_path(:user => track.user, :track => track.tag)) %></span>
  <% else %>
    <span class="track"><%= track.tag %></span>
  <% end %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(track.created_at) %> ago.
  </span>
  <% if current_user?(track.user) %>
    <%= link_to "delete", track, method: :delete, data: {confirm: "You sure?"}, title: track.tag %>
    <br />
    <div id="current_track<%= track.id.to_s %>">
    </div>
    <% if current_user.admin? %>
      <%= ((session[:current_track].to_i == track.id) ? "○" : "　") %>
      <%= link_to("タグをセット", tweets_store_path(:track => track.tag, :track_id => track.id, :user => track.user, :user_flg => true)) %>
    <% end %>
  <% end %>
</li>
