<li>
  <span class="track"><%= link_to(track.tag, graph_tweet_path(track.user, track: track.tag)) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(track.created_at) %> ago.
  </span>
  <% if current_user?(track.user) %>
    <%= link_to "delete", track, method: :delete, data: {confirm: "You sure?"}, title: track.tag %>
    <br />
    <% if current_user.admin? %>
      <%= ((current_user.serv.track == track.tag) ? "○" : "　") %>
      <%= link_to("タグをセット", track_tweet_path(track.user, track: track.tag)) %>
    <% end %>
  <% end %>
</li>
