<!-- $(document).ready(function(){ -->
<!--   timer = setInterval(function(){ -->
<!--     $.ajax({ -->
<!--         url: '<%= tweets_graph_path(user: @user, track: @track) %>', -->
<!--         data: {}, -->
<!--         dataType: "script" -->
<!--     }).done(function(data, status, xhr) { -->
<!--     }).fail(function(xhr, status, error) { -->
<!--         clearInterval(timer); -->
<!--     }); -->
<!--   }, 30000 ); -->
<!-- }); -->
<%= javascript_tag do -%>
<% end -%>
<p id="notice"><%= notice %></p>
<!-- <p> -->
<!-- <% ENV.collect {|k, v| %> -->
<!-- <%= k+"="+v %><br /> -->
<!-- <% } %> -->
<!-- %> -->
<!-- </p> -->
<div id="chart">
<%= high_chart("graph", @graph) %>
</div>
<%= link_to 'Back', :back %>
