<% if current_user && current_user.admin? %>
<%= javascript_tag do %>
$(document).ready(function(){
    $.ajax({
        url: '<%= tweets_check_path %>', 
        data: {},
        dataType: "script"
    }).done(function(data, status, xhr) {
    }).fail(function(xhr, status, error) {
        alert('Error Occured(' + error + ')');
    });
});
<% end %>
<% end %>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if current_user && current_user.admin? %>
      <div id="server_status">
      </div>
      <div id="server_start">
        <%= link_to("サーバー起動", tweets_start_path(:user => @user, :format => :js), :remote => true) %>
      </div>
      <div id="server_stop">
        <%= link_to("サーバー停止", tweets_stop_path(:user => @user, :format => :js), :remote => true) %>
      </div>
    <% end %>
  </aside>
  <div class="col col-md-8">
    <% if @user.tracks.any? %>
      <h3>Tracks (<%= @user.tracks.count %>)</h3>
      <ol class="tracks">
        <%= render @tracks %>
      </ol>
      <%= will_paginate @tracks %>
    <% end %>
  </div>

</div>
