<%= javascript_tag do %>
$(document).ready(function(){
  $.ajax({url: '/tweets/check',
      dataType: "html",
      success: function(data) {
        $('#server_status').html(data);
      },
      error: function(data) {
        $('#server_status').html(data);
      }
  });
});
<% end %>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <!-- <div id="message"> -->
    <!--   <%= flash.notice %> -->
    <!--   <%= flash.alert %> -->
    <!-- </div> -->
    <p>
      <%= link_to("集計開始", tweets_start_path(:user => @user, :format => :js), :remote => true) %>
    </p>
    <p>
      <%= link_to("集計中止", tweets_stop_path(:user => @user, :format => :js), :remote => true) %>
    </p>
    <div id="server_status">
    </div>
  </aside>
  <div class="col col-md-8">
    <% if @user.tracks.any? %>
      <h3>Tracks (<%= @user.tracks.count %>)</h3>
      <ol class="tracks">
        <%= render @tracks %>
      </ol>
      <%= will_paginate @tracks %>
    <% end %>
  </div>

</div>
