<%= javascript_tag do %>
$(document).ready(function(){
  $.ajax({url: '/tweets/check',
      dataType: "html",
      success: function(data) {
        if (data == "false") {
          $('#server_status').html("status = 停止中");
          $('#server_stop').hide();
          $('#server_start').show();
        } else {
          $('#server_status').html("status = 待機中");
          $('#server_start').hide();
          $('#server_stop').show();
        }
      },
      error: function(data) {
        alert('Error Occured');
      }
  });
});
<% end %>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if current_user && current_user.admin? %>
      <div id="server_status">
      </div>
      <div style="margin: 0px 0px 30px;"><span>※status = [待機中 | 停止中 | 集計中]</span></div>
      <div id="server_start">
        <%= link_to("サーバー起動", tweets_start_path(:user => @user, :format => :js), :remote => true) %>
      </div>
      <div id="server_stop">
        <%= link_to("サーバー停止", tweets_stop_path(:user => @user, :format => :js), :remote => true) %>
      </div>
    <% end %>
  </aside>
  <div class="col col-md-8">
    <% if @user.tracks.any? %>
      <h3>Tracks (<%= @user.tracks.count %>)</h3>
      <ol class="tracks">
        <%= render @tracks %>
      </ol>
      <%= will_paginate @tracks %>
    <% end %>
  </div>

</div>
